<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>

<body>
    <h1>Welcome to My Blog</h1>
    <h2>Categories</h2>
    <ul>
        {% for category in site.categories %}
        <li><a href="{{ site.baseurl }}/categories/{{ category[0] }}">{{ category[0] }}</a></li>
        {% endfor %}
    </ul>

    <h2>Recent Posts</h2>
    <ul>
        {% for post in site.posts %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%Y-%m-%d" }}</li>
        {% endfor %}
    </ul>


    <h1>Linear Algebra</h1>
    <h1>財報狗筆記</h1>
    <h1>深度學習筆記</h1>
    <h1>靜態網站筆記</h1>
    <h3>to be continue...</h3>
    <h1>google format</h1>
    <h1>超啟發演算法</h1>
    <h1>資訊科普</h1>

</body>

</html>